<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liming.batteryinfo">


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.MainActivity"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.BatterySettingActivity"
                android:theme="@style/DialogTheme"/>
        <activity
                android:name=".ui.MaxCurrentSettingActivity"
                android:theme="@style/DialogTheme"/>
        <activity
                android:name=".ui.TimeChargeActivity"
                android:theme="@style/DialogTheme"></activity>

        <activity
            android:name=".ui.NotifChargeActivity"
            android:theme="@style/DialogTheme"></activity>

        <service android:name=".service.CurrentWindowService"/>
        <service android:name=".service.BatteryInfoService"/>
        <receiver
                android:name=".broadcast.BatteryInfoBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>